<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook</title>
    <link rel="stylesheet" href="facebook.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div>
        <i class="fab fa-facebook icon_face"></i>
      </div>
      <div class="icon_content">
        <i class="fas fa-home icon_content_home"></i>
      </div>
      <div class="icon_sidebar"></div>
    </div>
    <div class="main">
      <div class="sidebar"></div>
      <div class="main_content">
        <div class="main_content_stories">
          <div class="main_content_stories_item">
            <div class="main_content_stories_item_create"></div>
          </div>
          <div class="main_content_stories_item">
            <div class="main_content_stories_item_avata"></div>
          </div>
          <div class="main_content_stories_item">
            <div class="main_content_stories_item_avata"></div>
          </div>
          <div class="main_content_stories_item">
            <div class="main_content_stories_item_avata"></div>
          </div>
          <div class="main_content_stories_item">
            <div class="main_content_stories_item_avata"></div>
          </div>
        </div>
        <div class="main_content_new"></div>
        <div class="main_content_room"></div>
        <div class="main_content_post">
          <div class="test"></div>
        </div>
        <div class="main_content_post"></div>
        <div class="main_content_post"></div>
      </div>
      <div class="main_sidebar">
        <div class="main_sidebar_qc"></div>
        <div class="main_sidebar_notification"></div>
        <div class="main_sidebar_friends">
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
          <div class="main_sidebar_friends_item">
            <div class="main_sidebar_friends_item_avatar"></div>
            <div class="main_sidebar_friends_item_name">Adam</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
